@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?niq5uv");
  src: url("fonts/icomoon.eot?niq5uv#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?niq5uv") format("truetype"),
    url("fonts/icomoon.woff?niq5uv") format("woff"),
    url("fonts/icomoon.svg?niq5uv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icono-bus:before {
  content: "\e93b";
}

.icon-icono-camioneta:before {
  content: "\e93c";
}

.icon-icono-car:before {
  content: "\e93d";
}

.icon-noun-landscape-2419992:before {
  content: "\e938";
}

.icon-noun-exit-6418164:before {
  content: "\e939";
  color: rgb(255, 255, 255);
}

.icon-arrow-down:before {
  content: "\e933";
}

.icon-rigido:before {
  content: "\e900";
}

.icon-Trailer:before {
  content: "\e901";
}

.icon-doble-remolque:before {
  content: "\e902";
}

.icon-simple:before {
  content: "\e903";
}

.icon-eje1:before {
  content: "\e904";
}

.icon-eje2:before {
  content: "\e905";
}

.icon-eje3:before {
  content: "\e906";
}

.icon-eje4:before {
  content: "\e907";
}

.icon-eje5:before {
  content: "\e908";
}

.icon-eje6:before {
  content: "\e909";
}

.icon-eje7:before {
  content: "\e90a";
}

.icon-eje8:before {
  content: "\e90b";
}

.icon-icono-historial:before {
  content: "\e90c";
}

.icon-icono-rutas:before {
  content: "\e90d";
}

.icon-icono-flotilla:before {
  content: "\e90e";
}

.icon-icono-mapa:before {
  content: "\e90f";
}

.icon-icono-mensaje:before {
  content: "\e910";
}

.icon-icono-reportes:before {
  content: "\e911";
}

.icon-icono-usuarios:before {
  content: "\e912";
}

.icon-caravan:before {
  content: "\e913";
}

.icon-Remolque:before {
  content: "\e914";
}

.icon-icono-balanceado:before {
  content: "\e915";
}

.icon-icono-corto:before {
  content: "\e916";
}

.icon-icono-econmico:before {
  content: "\e917";
}

.icon-icono-paisajista:before {
  content: "\e918";
}

.icon-icono-rapido:before {
  content: "\e919";
}

.icon-destinos:before {
  content: "\e91a";
}

.icon-evitar:before {
  content: "\e91b";
}

.icon-programar:before {
  content: "\e91c";
}

.icon-ruta:before {
  content: "\e91d";
}

.icon-Tipo-de-transporte:before {
  content: "\e91e";
}

.icon-tipo-de-viaje:before {
  content: "\e91f";
}

.icon-icono-auto:before {
  content: "\e920";
}

.icon-icono-autobus:before {
  content: "\e921";
}

.icon-Icono-camion:before {
  content: "\e922";
}

.icon-icono-emergencia:before {
  content: "\e923";
}

.icon-icono-minimizar-ventana:before {
  content: "\e924";
  color: rgb(255, 255, 255);
}

.icon-icono-motocicleta:before {
  content: "\e925";
}

.icon-icono-peaton:before {
  content: "\e926";
}

.icon-icono-tren:before {
  content: "\e927";
}

.icon-Presentacin1 .path1:before {
  content: "\e928";
  color: rgb(255, 255, 255);
}

.icon-Presentacin1 .path2:before {
  content: "\e929";
  margin-left: -1.77734375em;
  color: rgb(0, 0, 0);
}

.icon-icono-ayuda:before {
  content: "\e935";
  color: #007bff;
}

.icon-icono-configuracion:before {
  content: "\e936";
  color: #007bff;
}

.icon-icono-logout:before {
  content: "\e937";
  color: #007bff;
}

.icon-icono-monitor:before {
  content: "\e934";
}

.icon-icono-agregar:before {
  content: "\e92a";
}

.icon-icono-borrar-ruta .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}

.icon-icono-borrar-ruta .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icono-borrar-ruta .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-icono-crear-ruta .path1:before {
  content: "\e92e";
  color: rgb(255, 255, 255);
}

.icon-icono-crear-ruta .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 123, 255);
}

.icon-icono-editar-ruta:before {
  content: "\e930";
  color: #007bff;
}

.icon-mover-rutas:before {
  content: "\e931";
}

.icon-x:before {
  content: "\e93a";
}

.icon-cancel:before {
  content: "\e93a";
}

.icon-close:before {
  content: "\e93a";
}

.icon-pencil:before {
  content: "\e932";
}

.icon-location:before {
  content: "\e947";
}

.icon-display:before {
  content: "\e956";
}

.icon-box-remove:before {
  content: "\e95f";
}

.icon-search:before {
  content: "\e986";
  color: rgb(255, 255, 255);
}

.icon-search-2:before {
  content: "\e986";
  color: rgb(71, 71, 71);
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-circle-up:before {
  content: "\ea41";
  color: rgb(255, 255, 255);
}

.icon-circle-down:before {
  content: "\ea43";
  color: rgb(255, 255, 255);
}

.notification-item:hover {
  background: #f5f5f5 !important;
}

.ver-mas-btn:hover {
  background: #f0f0f0 !important;
}

#btnHeavyTransport {
  background-color: #fb8800;
  border: none;
  font-size: medium;
  border-radius: 20%;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnHeavyTransport:hover {
  background-color: #e07700;
}

#btnSearch {
  background-color: #fb8800;
  border: none;
  font-size: medium;
  border-radius: 20%;
  width: 25px;
  height: 25px;
}

#btnSearch:hover {
  background-color: #e07700;
}